@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900|Raleway:400,700');

/*Colours
#D4E4F7 pale blue
#236AB9 medium blue
#FC7307 burnt orange
#B85B14 golden brown
#341C09 dark brown
*/

/*---------------------------------------------------Header*/

.logo{
    background: url("images/dirk-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FC7307;
    color: #341C09;
    min-height: 205px;
}

.bg-color-company-name{
    background-color: #341C09;
}

.company-name{
    font-family: "Cinzel Decorative", cursive;
    font-weight: 900;
    font-size: 50px;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FC7307;
}

.navbar{
    float: right;
    margin: 0px;
    padding: 0px;
}

.menuitem {
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #FC7307;
    display: block;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
}

.menuitem a:hover{
    background-color: #FC7307;
    color: #341C09;
}


/*---------------------------------------------------Main content*/

.text-container {
    height: 100vh;

/*Code for the background image is from https://css-tricks.com/perfect-full-page-background-image/*/
    background: url("images/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

.callout{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    background-color: #D4E4F7;
    color: #341C09;
    margin-top: 100px;
}

.text-box{
    background-color: #D4E4F7;
    margin-top: 50px;
    padding: 50px;
}

.blurb{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.page-title{
    font-family: "Cinzel Decorative", cursive;
    font-weight: 700;
    font-size: 30px;
}

.title{
    font-family: "Cinzel Decorative", cursive;
    font-weight: 700;
    font-size: 20px;
}

.body-text{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.quote{
    font-family: "Cinzel Decorative";
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

/*---------------------------------------------------Footer*/

footer{
    background-color: #FC7307;
    min-height: 120px;
    margin: 0;
}

.contact-details{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #341C09;
    margin-top: 10px;
}

.social-links li a i{
    font-size: 50px;
    color: #341C09;
    margin: 20px;
}

.social-links li a i:hover{
    color: #236AB9;
}

.disclaimer{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #341C09;
    margin-top: 10px;
}