@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900|Lato:400,400i,700,700i');

/*Colours
#d6f5eb light green
#639c8a dark green
#e88617 burnt orange
#3d3dd6 royal blue
#101065 navy
*/

.bg-color-company-name{
    background-color: #d6f5eb;
}

.bg-color-navbar{
    background-color: #639c8a;
}

#nav{
    background-color: #639c8a;
}

.logo{
    background: url("../images/magnifying_glass.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #639c8a;
    min-height: 300px;
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.company-name{
    font-family: "Cinzel Decorative", cursive;
    font-weight: 900;
    font-size: 70px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #101065;
    height: 200px;
}

.navbar{
    float: right;
    color: #d6f5eb;
    margin: 0px;
    padding: 0px;
}

.menuitem {
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #d6f5eb;
    display: block;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
}

.menuitem a:hover{
    background-color: #e88617;
    color: #101065;
}

/*Footer*/

footer{
    background-color: #d6f5eb;
    min-height: 120px;
    margin: 0;
}

.contact-details{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #101065;
}

.social-links li a i{
    font-size: 50px;
    color: #101065;
    margin: 20px;
}

.disclaimer{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #101065;
}