@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900|Lato:400,400i,700,700i');

/*Colours
#D4E4F7 pale blue
#236AB9 medium blue
#FC7307 burnt orange
#B85B14 golden brown
#341C09 dark brown
*/

/*---------------------------------------------------Header*/

.bg-color-company-name{
    background-color: #341C09;
}


#nav{
    background-color: #341C09;
}

.logo{
    background: url("../images/dirk-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FC7307;
    color: #341C09;
    min-height: 232px;
}

.company-name{
    font-family: "Cinzel Decorative", cursive;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FC7307;
}

.navbar{
    float: right;
    margin: 0px;
    padding: 0px;
}

.menuitem {
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #FC7307;
    display: block;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
}

.menuitem a:hover{
    background-color: #FC7307;
    color: #341C09;
}

/*---------------------------------------------------Main*/

.background{
    background: url("../images/tree-2976739_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 850px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*---------------------------------------------------Footer*/

footer{
    background-color: #FC7307;
    min-height: 120px;
    margin: 0;
}

.contact-details{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #000000;
}

.social-links li a i{
    font-size: 50px;
    color: #000000;
    margin: 20px;
}

.disclaimer{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #000000;
}